<h1>Browse all Cook Book Nook recipes here!</h1>
<%Recipe.all.each do |recipe|%>
<h2><%=recipe.name%></h2>
<p><b>Ingredients:</b> </p>
<p><%=recipe.ingredients%></p>
<p><b>Cooking instructions:</b></p>
<p><%=recipe.instructions%></p>
<%end%>
<a href="/logout"><button>Log Out</button></a>
