<h2><%=@recipe.name%></h2>
<p><b>Ingredients:</b> </p>
<p><%=@recipe.ingredients%></p>
<p><b>Cooking instructions:</b></p>
<p><%=@recipe.instructions%></p>
<a href="/recipes/<%=@recipe.id%>/edit"><button>Edit</button></a>