 <img src="https://67.media.tumblr.com/3b782de4021cae83a8b5fc72ce3d3290/tumblr_n33cdpO5Tp1trosnro1_400.gif" width=300>
<form action="/signup" method="post">
<h2>Please enter username, password, and email to register</h2>
	<p>Username: <input type="text" name ="username"></p> 
	<p>Password: <input type="text" name ="password"></p>
	<p>Email: <input type="text" name ="email"></p>
	<button value="submit">Sign Up</button>
</form>